#game {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 32px;
    padding: 16px;
    place-items: center;
}

#game button {
    height: 250px;
    width: 250px;
    font-size: 50px;
    border-radius: 32px;
}